<app-bread-crumb [items]="[{text: 'Lançamentos'}]"></app-bread-crumb>

<app-page-header
  page-title="Lançamentos"
  button-text="+ Novo Lançamento"
  button-link="new"
  button-class="btn-success">
</app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="text-light" style="background-color: #F08080;">
      <th>Lançamento</th>
      <th>Categoria</th>
      <th class="text-right">Valor R$</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resource of resources">
      <td style="color: #696969">
        <strong>{{ resource.name }}</strong><br>
        <small class="text-success">{{ resource.date }}</small><br>
        <small *ngIf="resource.description">{{ resource.description }}</small>
      </td>

      <td style="color: #696969">
        {{ resource.category.name }}
      </td>

      <td class="text-right" style="color: #696969">
        <strong [class.text-success]="resource.type == 'revenue'" [class.text-danger]="resource.type == 'expense'">
          {{ resource.amount }}
        </strong>
        <br>
        <spam class="badge badge-light">{{ resource.paidText }}</spam>
      </td>

      <td class="text-center">
        <a [routerLink]="[resource.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <a (click)="deleteResource(resource)" class="btn btn-outline-danger btn-sm mr-2">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
